<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Melvrick Goh">
    <link rel="icon" href="../img/favicon.png">

    <title>Service Dashboard</title>

    <!-- Bootstrap core CSS -->
    <!--link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="../stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/dataTables.bootstrap.css">
    <!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->


  </head>

  <body>
    <nav class="navbar navbar-default" style="z-index:1001" role="navigation">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
           data-target="#example-navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/lessons">Administration</a>
     </div>
     <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
           <li><a href="/mydrive">My Drive</a></li>
           <li class="active"><a href="/lessons">Lessons</a></li>
        </ul>
     </div>
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper" style="margin-top:-60px">
          <ul class="sidebar-nav" style="margin-top:60px">
              <li class="sidebar-brand">
                Lessons
              </li>
              <li><a id="allfilesdata-label" style="cursor:pointer; background: rgba(255,255,255,0.2); color: #fff;" onClick="hideSection('all')">All Files</a></li>
              <li><a id="adminfilesdata-label" style="cursor:pointer;" onClick="hideSection('admin')">Manage Admin Files</a></li>
              <li class="sidebar-brand">
                <a href="/service/students">Users</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <!-- SAMPLE TABLE-->
              <div class="container" style="margin-top: 10px">
                <div id="allfilesdata" >
                <table cellspacing="0" width="75%" class="table table-striped table-bordered" id="example">
                  <thead>
                    <tr>
                      <th>
                        <button class="btn btn-warning" data-title="Bulk Delete" onclick="bulkDelete()">
                          Delete
                        </button>
                      </th>
                      <th>File</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(var i = 0; i<files.length; i++){
                      var file = files[i];
                      var owner = file.ownerNames[0];
                      var permissionType = 'editor';
                      if (owner.indexOf('developer.gserviceaccount.com')>-1){
                        permissionType = 'owner';
                      }
                      %>
                        <tr id="row-<%=file.id%>">
                          <td>
                            <input type="checkbox" class="delete-files-group" value="<%=file.id%>-----<%=permissionType%>">
                          </td>
                          <td><%=file.title%></td>
                          <td>
                            <button class="btn btn-primary" data-title="View data" data-toggle="modal" data-target="#<%=file.id%>">
                              View Data
                            </button>
                          </td>
                          <td>
                            <button class="btn btn-warning" data-title="Remove Access" data-toggle="modal" data-target="#<%=file.id%>-permission">
                              Remove Access
                            </button>
                          </td>
                        </tr>
                    <%}%>             
                  </tbody>
                </table>
              </div>

              <div id="adminfilesdata" >
                <h2>Admin Files</h2>
                <table cellspacing="0" width="75%" class="table table-striped table-bordered" id="adminfiles">
                  <thead>
                    <tr>
                      <th>File</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(var i = 0; i<adminFiles.length; i++){
                      var file = adminFiles[i];
                      var owner = file.ownerNames[0];
                      var permissionType = 'editor';
                      if (owner.indexOf('developer.gserviceaccount.com')>-1){
                        permissionType = 'owner';
                      }
                      %>
                        <tr id="row-<%=file.id%>">
                          <td><%=file.title%></td>
                          <td>
                            <button class="btn btn-primary" data-title="View data" data-toggle="modal" data-target="#<%=file.id%>-admin-update-circulation">
                              View/Update System Info
                            </button>
                          </td>
                          <td>
                            <button class="btn btn-warning" data-title="Remove Access" data-toggle="modal" data-target="#<%=file.id%>-admin-remove-circulation">
                              Remove from Circulation
                            </button>
                          </td>
                        </tr>
                    <%}%>             
                  </tbody>
                </table>
              </div>

              <div id="nonadminfilesdata" >
                <h2>Non-Admin Files</h2>
                <table cellspacing="0" width="75%" class="table table-striped table-bordered" id="nonadminfiles">
                  <thead>
                    <tr>
                      <th>File</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(var i = 0; i<nonAdminFiles.length; i++){
                      var file = nonAdminFiles[i];
                      var owner = file.ownerNames[0];
                      var permissionType = 'editor';
                      if (owner.indexOf('developer.gserviceaccount.com')>-1){
                        permissionType = 'owner';
                      }
                      %>
                        <tr id="rowNA-<%=file.id%>">
                          <td><%=file.title%></td>
                          <td>
                            <button class="btn btn-primary" data-title="View data" data-toggle="modal" data-target="#<%=file.id%>">
                              View Data
                            </button>
                          </td>
                          <td>
                            <button class="btn btn-warning" data-title="Remove Access" data-toggle="modal" data-target="#<%=file.id%>-admin-add-circulation">
                              Add to Admin Circulation
                            </button>
                          </td>
                        </tr>
                    <%}%>             
                  </tbody>
                </table>
              </div>

              <div id="lessonsdata">
                <h2>Lessons</h2>
                
              </div>
            </div>
              <!-- SAMPLE TABLE -->

              <%for(var i = 0; i<files.length; i++){
                var file = files[i];
                %>
                <div class="modal fade" id="<%=file.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%=file.title%></h4>
                      </div>
                      <div class="modal-body">
                        <p><strong>ID: </strong><%=file.id%></p>
                        <p><strong>Title: </strong><%=file.title%></p>
                        <p><strong>Owners: </strong><%=file.owners[0].displayName%></p>
                        <%if(file.administratorFile){%>
                          <p><strong>Administrator File: </strong>Yes</p>
                        <%}else{%>
                          <p><strong>Administrator File: </strong>No</p>
                        <%}%>
                        <%if(file.sharingUser){%>
                          <p><strong>Sharing User: </strong><%=file.sharingUser.displayName%></p>
                        <%}%>
                        <div class="img-poster clearfix">
                          <p><strong>Last Modified: </strong></p>
                          <%if(file.lastModifyingUser.picture){%>
                            <a href=""><img class="img-circle" src="<%=file.lastModifyingUser.picture.url%>"/></a>
                          <%}%>
                          <strong><a href=""><%=file.lastModifyingUser.displayName%></a></strong>
                          <span><%=file.modifiedDate%></span>
                        </div>
                        <p><a href="<%=file.alternateLink%>" target="_blank">Google Link</a></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!--button type="button" class="btn btn-primary">Save changes</button-->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="<%=file.id%>-permission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Remove File Access</h4>
                      </div>
                      <div class="modal-body">
                        <%var owner = file.ownerNames[0];
                          var permissionType = 'editor'
                          if (owner.indexOf('developer.gserviceaccount.com')>-1){
                            permissionType = 'owner';
                          }
                        %>

                        <p>Remove this file '<%=file.title%>' from your list?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning" onClick="servicePermission('<%=file.id%>','<%=permissionType%>')">Remove Access</button>
                      </div>
                    </div>
                  </div>
                </div>

                <%if(file.administratorFile){%>
                  <!-- ADMINISTRATOR MODAL 
                    merely removal of files from circulation. do the backend user removal infuture, update the lesson and exercise changes, update the custom messages within email
                    for removal of files from circulation, consider notification to users impacted by this removal
                  -->

                  <!-- MODAL FOR REMOVING FROM CIRCULATION-->
                  <div class="modal fade" id="<%=file.id%>-admin-remove-circulation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">Remove File from System Circulation</h4>
                        </div>
                        <div class="modal-body">
                          <p>Remove this file '<%=file.title%>' from system and students circulation?</p>
                          <p><b>IMPORTANT!</b> Students will no longer be able to access their copies of this file upon removal</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-warning" onClick="adminCirculation('<%=file.id%>','remove')">Remove from Circulation</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- MODAL FOR UPDATING ADMIN FILE WITHIN CIRCULATION -->
                  <div class="modal fade" id="<%=file.id%>-admin-update-circulation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">View/Update Admin File Data</h4>
                        </div>
                        <div class="modal-body">
                          <form role="form">
                            <div class="form-group">
                              <label for="<%=file.id%>-adminformupdatename">File Name</label>
                              <input type="text" class="form-control" id="<%=file.id%>-adminformupdatename" value="<%=file.exerciseTitle%>" disabled>
                            </div>
                            <div class="form-group">
                              <label for="<%=file.id%>-adminformurl">Exercise URL Pattern</label>
                              <input type="text" class="form-control" id="<%=file.id%>-adminformupdateurl" value="<%=file.exerciseURL%>" disabled>
                            </div>
                            <div class="form-group">
                              <label for="<%=file.id%>-adminformupdatelink">Exercise Link</label>
                              <input type="text" class="form-control" id="<%=file.id%>-adminformupdatelink" value="<%=file.alternateLink%>" disabled>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputFile">Lesson Number</label>
                              <input type="number" min="1" max="20" step="1" value="<%=file.lesson%>" id="<%=file.id%>-adminformupdatelessonnumber">
                              <label for="exampleInputFile">Exercise Number</label>
                              <input type="number" min="1" max="20" step="1" value="<%=file.exercise%>" id="<%=file.id%>-adminformupdateexercisenumber">
                              <p class="help-block">Lesson refers to which lesson the exercise belongs to, Exercise refers to which exercise this is to be classified as. Together, they form the ID</p>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-warning" onClick="adminCirculation('<%=file.id%>','update')">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <%}else{%>
                  <!-- NON-ADMINISTRATOR MODAL 
                    user supplies exercise n lesson values, custom message in email when user copies it
                  -->
                    <div class="modal fade" id="<%=file.id%>-admin-add-circulation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">Add File:<%=file.title%> to System Circulation</h4>
                        </div>
                        <div class="modal-body">
                          <p><b>IMPORTANT!</b> You may assign the title and URL of the exercise only <b>ONCE</b> to preserve the students/users' experience in using the application</p>
                          <form role="form">
                            <div class="form-group">
                              <label for="<%=file.id%>-adminformname">File Name</label>
                              <input type="text" class="form-control" id="<%=file.id%>-adminformname" placeholder="Enter name" onkeyup="updateAdminInputURL('<%=file.id%>-adminformname','<%=file.id%>-adminformurl')" value="<%=file.title%>">
                              <p class="help-block">(At least 5 characters)</p>
                              <p class="help-block">Lesson name is what you want your students to see in the app. URL is affected by this too</p>
                            </div>
                            </br>
                            <div class="form-group">
                              <label for="<%=file.id%>-adminformurl">URL of Exercise</label>
                              <input type="text" class="form-control" id="<%=file.id%>-adminformurl" placeholder="URL of Exercise" value="<%=file.title.replace(/\s+/g, '')%>" disabled>
                              <p class="help-block">The URL students can use to access their exercise</p>
                            </div>
                            <div class="form-group">
                              <label for="<%=file.id%>-adminformlink">Link to Exercise</label>
                              <input type="text" class="form-control" id="<%=file.id%>-adminformlink" placeholder="Google Link of Exercise" value="<%=file.alternateLink%>" disabled>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputFile">Lesson Number</label>
                              <input type="number" min="1" max="20" step="1" id="<%=file.id%>-lessonnumber">
                              <label for="exampleInputFile">Exercise Number</label>
                              <input type="number" min="1" max="20" step="1" id="<%=file.id%>-exercisenumber">
                              <p class="help-block">Lesson refers to which lesson the exercise belongs to, Exercise refers to which exercise this is to be classified as. Together, they form the ID</p>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-warning" onClick="adminCirculation('<%=file.id%>','add')">Add to Circulation</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <%}%>
              <%}%>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>

    <!-- Bootstrap core JavaScript <script src="../../assets/js/docs.min.js"></script>
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="../js/dataTables.bootstrap.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script>
      <%
        var adminMessage = '',
        infoArrKeys = Object.keys(adminInfo.array);
        for (var k = 0; k<infoArrKeys.length; k++){
          var object = adminInfo.array[infoArrKeys[k]];
          adminMessage+=parseInt(object.lesson)+'.'+parseInt(object.exercise)+',';
        }
        adminMessage = adminMessage.substring(0,adminMessage.length-1);
      %>
      var processAdminInfo = function(stringMessage){
        var lessonCodes = stringMessage.split(','),
        result = {};
        for (var i = 0; i<lessonCodes.length; i++){
          var section = lessonCodes[i].split('.');
          if (result[parseInt(section[0])]){
            result[parseInt(section[0])].push(parseInt(section[1]));
          }else{
            result[parseInt(section[0])] = [parseInt(section[1])];
          }
        }
        return result;
      }

      var ADMININFO = '<%=adminMessage%>'.split(',');//processAdminInfo('<%=adminMessage%>');

      var GLOBALTABLE,ADMINTABLE,NOADMINTABLE;
      $(document).ready(function() {
        GLOBALTABLE = $('#example').dataTable();
        ADMINTABLE = $('#adminfiles').dataTable();
        NOADMINTABLE = $('#nonadminfiles').dataTable();
      });

      var updateAdminInputURL = function(formInputID,targetInputID){
        var input = document.getElementById(formInputID),
        target = document.getElementById(targetInputID),
        url = input.value.replace(/\s+/g, '');
        $(target).val(url);
      }

      var hideSection = function(value){
        var fileDataElement = document.getElementById('allfilesdata'),
            fileDataDisplay = fileDataElement.style.display,
            adminDataElement = document.getElementById('adminfilesdata'),
            nonadminDataElement = document.getElementById('nonadminfilesdata');
        switch(value){
          case 'all':
            if (fileDataDisplay != 'none'){
              $(fileDataElement).hide();
              var label = document.getElementById('allfilesdata-label');
              label.style.color='#999999';
              label.style.background= 'rgba(255,255,255,0)';
            }else{
              $(fileDataElement).show();
              $(adminDataElement).hide();
              $(nonadminDataElement).hide();
              var label = document.getElementById('allfilesdata-label');
              label.style.color='#fff';
              label.style.background= 'rgba(255,255,255,0.2)';
              var adminlabel = document.getElementById('adminfilesdata-label');
              adminlabel.style.color='#999999';
              adminlabel.style.background= 'rgba(255,255,255,0)';
            }
            break;
          case 'admin':
            if (adminDataElement.style.display != 'none'){
              $(adminDataElement).hide();
              $(nonadminDataElement).hide();
              var adminlabel = document.getElementById('adminfilesdata-label');
              adminlabel.style.color='#999999';
              adminlabel.style.background= 'rgba(255,255,255,0)';
            }else{
              $(adminDataElement).show();
              $(nonadminDataElement).show();
              $(fileDataElement).hide();
              var label = document.getElementById('allfilesdata-label');
              label.style.color='#999999';
              label.style.background= 'rgba(255,255,255,0)';
              var adminlabel = document.getElementById('adminfilesdata-label');
              adminlabel.style.color='#fff';
              adminlabel.style.background= 'rgba(255,255,255,0.2)';
            }
            break;
          default:

        }

      }

      var XHR = function(connType,address,callback){
        var xhr;
        if(window.XMLHttpRequest){
          xhr = new XMLHttpRequest();
        }else{
          xhr = new ActiveXObject('Microsoft.XMLHTTP');
        }
        xhr.open(connType, address, true);
        xhr.onreadystatechange = function() {
          if(xhr.readyState == 4 && xhr.status==200){
            callback(xhr.responseText);
          }
        };

        xhr.send();
      }

      var bulkDelete = function(){
        var selectedForFilesDelete = $('.delete-files-group'),
        selection = [];
        for(var i = 0; i<selectedForFilesDelete.length; i++){
          var fileCheckbox = selectedForFilesDelete[i];
          if (fileCheckbox.checked){
            var values = fileCheckbox.value.split('-----'),
            id = values[0],
            permission = values[1];
            selection.push({fileid:id,permission:permission});
          }
        }
        if (selection.length > 0){
            var xhr;
          if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest();
          }else{
            xhr = new ActiveXObject('Microsoft.XMLHTTP');
          }
          xhr.open('POST','/service/ws/files?bulk=delete',true);
          xhr.setRequestHeader( "Content-Type", "application/json" );
          xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status==200){
              var jsonResponse = JSON.parse(xhr.responseText);
              if(jsonResponse.errors.length==0){
                var successfulFiles = jsonResponse.successes,
                table = $('#example').DataTable();
                for (var i = 0; i<successfulFiles.length; i++){
                  var id = successfulFiles[i],
                  row = $('#row-'+id);
                  table.rows(row).remove();
                }
                table.draw();
              }
            }
          }
          xhr.send(JSON.stringify(selection));
        }
      }

      var serviceDelete =function(id){
        XHR('GET','/service/ws/files?delete='+id,function(responseText){
          var jsonResponse = JSON.parse(responseText);
              alert(xhr.responseText);
        });
      }

      var servicePermission =function(id,permissionType){
        XHR('GET','/service/ws/files?permission='+id+'&permissionType='+permissionType,function(responseText){
          var jsonResponse = JSON.parse(responseText);
          var row = $('#row-'+id);
          var table = $('#example').DataTable();
          table.rows(row).remove().draw();
          $('#'+id+'-permission').modal('hide');
        });
      }

      var processValidationAddAdminFile = function(fileName,fileURL,lessonNo,exerciseNo){
        var errors = [];
        if (fileName.trim().length<5){
          errors.push('File name needs to be at least 5 characters long');
        }

        if (lessonNo.trim().length == 0){
          errors.push('Please fill in the lesson number');
        }else{
          if(isNaN(lessonNo)){
            errors.push('Please key in a number for the lesson');
          }
        }

        if (exerciseNo.trim().length == 0){
          errors.push('Please fill in the exercise number');
        }else{
          if(isNaN(exerciseNo)){
            errors.push('Please key in a number for the exercise');
          }else{
            var lesson = parseInt(lessonNo),
            exercise = parseInt(exerciseNo);
            if(ADMININFO.indexOf(lesson+'.'+exercise)>-1){
              errors.push('This exercise already exists. Key in another exercise number');
            }
          }
        }

        return errors;
      }

      var processValidationUpdateAdminFile = function(lessonNo,exerciseNo){
        var errors = [];
        if(lessonNo.trim().length == 0){
          errors.push('Please fill in the lesson number');
        }

        if (exerciseNo.trim().length == 0){
          errors.push('Please fill in the exercise number');
        }else{
          if(isNaN(exerciseNo)){
            errors.push('Please key in a number for the exercise');
          }else{
            var lesson = parseInt(lessonNo),
            exercise = parseInt(exerciseNo);
            if(ADMININFO.indexOf(lesson+'.'+exercise)>-1){
              errors.push('This exercise already exists. Key in another exercise number');
            }
          }
        }
        return errors;
      }

      var adminCirculation = function(fileid,action){
        switch(action){
          case 'remove':
            XHR('GET','/service/ws/admin?remove='+fileid,function(responseText){
              var json = JSON.parse(responseText);
              if (json.error){
                alert('ERROR!\n\n-\t'+json.message);
              }
              location.reload();
            });
            break;
          case 'update':
            var lessonNo = $('#'+fileid+'-adminformupdatelessonnumber').val(),
            exerciseNo = $('#'+fileid+'-adminformupdateexercisenumber').val(),
            fileName = $('#'+fileid+'-adminformupdatename').val(),
            valuesArr = ['Lesson:\t'+lessonNo,'Exercise:\t'+exerciseNo];

            var errors = processValidationUpdateAdminFile(lessonNo,exerciseNo);

            if (errors.length != 0){
              alert('ERROR!\n\n-\t'+errors.join('\n-\t')+'\n\nPlease rectify these errors before continuing');
            }else{
              var agree = confirm('Confirm update File:'+fileName+' to Circulation?\n\n-\t'+valuesArr.join('\n-\t'));
              if(agree){
                XHR('GET','/service/ws/admin?update='+fileid+'&lesson='+parseInt(lessonNo)+'&exercise='+parseInt(exerciseNo),function(responseText){
                  var json = JSON.parse(responseText);
                  if(!json.success){
                    alert('ERROR!\n\n-\t'+JSON.stringify(json.message)+'\n\nWe will now reload the application');
                  }
                  location.reload();
                });
              }
            }
            break;
          case 'add':
            var fileName = $('#'+fileid+'-adminformname').val(),
            fileURL = $('#'+fileid+'-adminformurl').val(),
            lessonNo = $('#'+fileid+'-lessonnumber').val(),
            exerciseNo = $('#'+fileid+'-exercisenumber').val(),
            link = $('#'+fileid+'-adminformlink').val(),
            valuesArr=['File Name:\t'+fileName,'File URL:\t'+fileURL,'Lesson:\t'+lessonNo,'Exercise:\t'+exerciseNo];

            var errors = processValidationAddAdminFile(fileName,fileURL,lessonNo,exerciseNo);
            if (errors.length != 0){
              alert('ERROR!\n\n-\t'+errors.join('\n-\t')+'\n\nPlease rectify these errors before continuing');
            }else{
              var agree = confirm('Confirm Add File:'+fileName+' to Circulation?\n\n-\t'+valuesArr.join('\n-\t'));
              if (agree){
                XHR('GET','/service/ws/admin?add='+fileid+'&name='+fileName+'&url='+fileURL+'&lesson='+parseInt(lessonNo)+'&exercise='+parseInt(exerciseNo)+'&link='+link,function(responseText){
                  var result = JSON.parse(responseText);
                  if (result.success){
                    //add to admin
                    location.reload();//LAW, consider doing some sort of async updates here. for the modal too
                    /*var atable = $('#adminfiles').DataTable();
                    atable.row.add()
                    //removal
                    var natable = $('#nonadminfiles').DataTable(),
                    narow = $('#rowNA-'+fileid);
                    natable.rows(narow).remove().draw();*/
                  }else{
                    alert('ERROR!\n\n-\t'+result.message+'\n\nWe will now reload the application');
                  }
                });
              }
            }
            break;
          default:
        }
      }
    </script>
  </body>
</html>
