<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Melvrick Goh">
    <link rel="icon" href="../img/favicon.png">

    <title>My Drive</title>

    <link href="http://s3-ap-southeast-1.amazonaws.com/cat.smu/assets/bootstrap.min.css" rel="stylesheet">

    <link href="../stylesheets/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Drive</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <% if (files.length) { %>
              <li>
                <% files.forEach(function(file){ %>
                  <div>
                    <div style="background-image:url('<%=file.iconLink%>'); background-repeat:no-repeat; background-size:20px 100%; background-position:left; padding-left:30px; min-height:40px;" onclick="loadDocument('<%=file.alternateLink%>','<%=file.title%>')"><%= file.title %></div>
                  </div>
                <% }) %>
              </li>
            <% } %>
          </ul>
          <!--ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding: 20px 10px;">
          <h1 id="googledocs-header" class="page-header"><%=files[0].title %></h1>

          <div class="container googledocs" style="padding: 0;">
            <div class="googledocs jumbotron" style="padding: 0; min-height: 1000px;">
              
              <iframe id="googledocs" style="width:100%;height:100%; position:absolute;"src=<%=files[0].alternateLink%>></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function clickGLink(e){console.log(e)}

      function loadDocument(fileLink, fileTitle){
        var documentFrame = document.getElementById('googledocs');
        documentFrame.src = fileLink;
        var documentHeader = document.getElementById('googledocs-header');
        documentHeader.innerHTML = fileTitle;
      }
    </script>
    <script src="../js/ie10-viewport-bug-workaround.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://s3-ap-southeast-1.amazonaws.com/cat.smu/assets/js/bootstrap.min.js"></script>
  </body>
</html>
